<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.iflab.wecentermobileandroidrestructure" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.WecenterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WencenterActivity"
            android:theme="@style/homepage" />
        <activity
            android:name=".activity.PublishAnswerArticleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PhotoPickActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PersonalCenterActivity"
            android:theme="@style/homepage" />
        <activity
            android:name=".activity.PersonalCenterEditActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.PublishPhotoDetailActivity" />
        <activity
            android:name=".activity.QuestionDetailActivity"
            android:label="@string/title_activity_question_detail" >
        </activity>
        <activity
            android:name=".activity.ArticleActivity"
            android:label="@string/title_activity_article" >
        </activity>
        <activity
            android:name=".activity.TopicsActivity"
            android:label="@string/title_activity_topics" >
        </activity>
        <activity
            android:name=".activity.QuestionAnswerActivity"
            android:label="@string/title_activity_question_answer" >
        </activity>
        <activity
            android:name=".activity.AnswerCommentActivity"
            android:label="@string/title_activity_answer_comment" >
        </activity>
        <activity
            android:name=".activity.PersonalQuestionActivity"
            android:label="@string/title_activity_personal_question" >
        </activity>
        <activity
            android:name=".activity.PersonalArticleActivity">
        </activity>
    </application>

</manifest>
